*{
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-outline:none;
    -moz-outline:none;
    z-index: 1;
    
    transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
}

@font-face{
    src:url(fonts/ProximaNova-Light.otf);
    font-family:ProximaNova-Light;
}

@font-face{
    src:url(fonts/ProximaNova-Semibold.otf);
    font-family:ProximaNova-Semibold;
}

body{
    background: #f5f5f5;
    color: #777777;
    font-size: 16px;
    font-family:ProximaNova-Light;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden !important;
}

a{
    color: #777777;
    text-decoration: none;
}

.bold{
    font-family:ProximaNova-Semibold;
}

.section{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.white-bg{
    background: #ffffff;
}

.inner{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.header{
    position: fixed;
    z-index: 999999 !important;
}

.header-pad{
    padding: 15px 25px;
}

.logo{
    width: 20%;
    float: left;
}

.top-nav{
    width: 80%;
    float: left;
    text-align: right;
}

.clear{
    float: none;
    clear: both;
}

.logo-img{
    width: auto;
    height: 60px;
}

.nav{
    list-style: none;
}

.nav li{
    list-style: none;
    display: inline-block;
    padding-right: 30px;
}

.nav li a{
    line-height: 60px;
    color: #777777;
    text-transform: uppercase;
    font-size: 17px;
}

.nav li a:hover{
    color: #ED1C24;
    
}

.select{
    border: solid 1px #e0e0e0;
    background: #ffffff;
    font-size: 14px;
    color: #999999;
    padding: 0px 14px 0px 6px;
    cursor: pointer;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    background: url(imgs/btn.jpg) center right no-repeat;
    -moz-background: url(imgs/btn.jpg) center right no-repeat;
    -webkit-background: url(imgs/btn.jpg) center right no-repeat;
    -ms-background: url(imgs/btn.jpg) center right no-repeat;
}

.select option{
    padding: 3px 8px;
    cursor: pointer;
    color: #aaaaaa !important;
    font-size: 14px;
}

.bigImgBg{
    background: url(imgs/bg.jpg) center center fixed;
    background-size: cover;
    color: #ffffff !important;
    text-align: center;
}

.bigImgBg-pad{
    padding: 38.5vh 25px 19vh 25px;
}

.logo-text{
    display: inline-block;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 76px;
    padding: 8px 10px;
    border-top: solid 2px #FFFFFF;
    border-bottom: solid 2px #FFFFFF;
    margin-bottom: 30px;
}

.sub-heading{
    font-size: 28px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
}

.smal-sub-heading{
    font-size: 24px;
    color: #ffffff;
    font-weight: 300;
}

.whiteCircle-btn{
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 24px;
    border: solid 1px #FFFFFF;
    background: rgba(255,255,255,0.05);
    text-align: center;
    display: inline-block;
    border-radius: 4px;
}

.whiteCircle-btn:hover{
    background: transparent;
}

.down{
    height: 25px;
    width: auto;
    animation: down 1s infinite;
    -webkit-animation: down 1s infinite;
    -moz-animation: down 1s infinite;
    position: absolute;
    margin-left: -15px;
}

@keyframes down{
    0% { margin-top: 40px; }
    50% { margin-top: 10px; }
    100% { margin-top: 40px; }
}

@-webkit-keyframes down{
    0% { margin-top: 40px; }
    50% { margin-top: 10px; }
    100% { margin-top: 40px; }
}

@-moz-keyframes down{
    0% { margin-top: 40px; }
    50% { margin-top: 10px; }
    100% { margin-top: 40px; }
}

.graybg{
    background: #f5f5f5;
}

.about-pad{
    padding: 90px 25px;
}

.text-center{
    text-align: center;
}

.sec-gray-heading{
    font-size: 24px;
    color: #777777;
    text-transform: uppercase;
}

.heading-hr{
    width: 4%;
    margin: 0 auto;
    border: none;
    border-bottom: solid 1px #bcbcbc;
    padding: 4px 0px;
}

.text{
    font-size: 17px;
    line-height: 26px;
    padding: 0px 50px;
}

.service-block{
    width: 100%;
    display: flex;
    align-items: center;
}

.service-block:nth-child(even){
    background: #2d2d2d;
}

.service-block:nth-child(odd){
    background: #2e3192;
}

.service-block:nth-child(odd) .image{
    order: 1;
    width: 40%;
}

.service-block:nth-child(odd) .service-text{
    order: 2;
    width: 60%;
    color: #ffffff;
}

.service-block:nth-child(even) .image{
    order: 2;
    width: 40%;
}

.service-block:nth-child(even) .service-text{
    order: 1;
    width: 60%;
    color: #ffffff;
}

.image img{
    width: 100%;
    height: auto;
    display: block !important;
}

.text-pad{
    padding: 35px 60px;
}

.sec-white-heading{
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
}

.ser-text{
    font-size: 15px;
    line-height: 21px;
}

.contact-pad{
    padding: 90px 25px;
}

.formNdetails{
    width: 100%;
    margin: 10px auto auto auto;
    display: flex;
}

.formNdetails .form{
    order: 1;
    width: 50%;
    text-align: left;
    border-right: solid 1px #CCCCCC;
}

.formNdetails .space{
    order: 2;
    width: 10%;
}

.formNdetails .details{
    order: 3;
    width: 40%;
    text-align: left;
}

.fnd-pad{
    padding: 25px 25px;
}

.contact-form input{
    background: #f8f8f8;
    border: solid 1px #c6c6c6;
    color: #777777;
    font-size: 14px;
    padding: 10px 14px;
    margin-bottom: 10px;
    width: 70%;
    font-family:ProximaNova-Light;
}

.contact-form input:hover{
    border: solid 1px transparent;
    background: #ffffff;
}

.contact-form input:focus{
    border: solid 1px #ED1C24;
    background: #ffffff;
}

.contact-form textarea{
    background: #f8f8f8;
    border: solid 1px #c6c6c6;
    color: #777777;
    font-size: 14px;
    padding: 10px 14px;
    margin-bottom: 10px;
    width: 70%;
    height: 125px;
    resize: none;
    font-family:ProximaNova-Light;
}

.contact-form textarea:hover{
    border: solid 1px transparent;
    background: #ffffff;
}

.contact-form textarea:focus{
    border: solid 1px #ED1C24;
    background: #ffffff;
}

.contact-form button{
    background: #999999;
    border: none;
    color: #ffffff;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    font-family:ProximaNova-Light;
}

.contact-form button:hover{
    background: #2E3192;
}

.darkgraybg{
    background: #efefef;
    border-top: solid 1px #dddddd;
}

.footer-pad{
    padding: 25px 25px;
    color: #888888;
}

.flex{
    width: 100%;
    display: flex;
    align-items: center;
}

.flex .copyright{
    width: 50%;
    order: 1;
}

.flex .top{
    width: 50%;
    order: 2;
    text-align: right;
}

.top img{
    height: 34px;
    width: auto;
}

.top img:hover{
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
}

.srllink{
    position: absolute;
    margin-top: -80px;
}

.mobile-nav{
    display: none !important;
}

.mobnav{
    display: none;
    transition:none !important;
    -webkit-transition:none !important;
    -moz-transition:none !important;
}

.mobnav li a{
    line-height: 0px !important;
    font-size: 14px;
}

.mobnav li{
    padding-top: 18px !important;
}

.nav-swhitcher{
    width: 90%;
    height: auto;
    padding: 6px 20px;
    font-size: 14px;
    color: #777777;
    font-family:ProximaNova-Light;
    text-transform: uppercase;
    text-align: center;
    border: solid 1px #CCCCCC;
    background: transparent;
    cursor: pointer;
    margin-top: 15px;
}

.nav-swhitcher:hover{
    background: #2E3192;
    color: #ffffff;
}













